.wrapper {
    margin-top: -4rem;
    z-index: 10;
    display: block;
}

.innerWrapper {
    position: fixed;
    padding-top: 4rem;
    top: 0;
    /* inset-inline-start: 0;
    inset-inline-end: 0; */
}

.innerInnerWrapper {
    position: sticky;
    top: 0;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
}

.div4 {
    overscroll-behavior: contain;
    width: 342px;
    flex-grow: 1;
}

.aside {
    width: 100%;
    max-width: 21rem;
    padding-bottom: 8rem;
    z-index: 10;
    display: block;
}

.nav {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-inline-end: 1.25rem;
}

.header {
    margin-inline-start: 1.25rem;
}
