.link {
    padding: .5rem;
    padding-inline-end: .5rem;
    padding-inline-start: 1.25rem;
    width: 100%;
    border-radius: 0;
    text-align: start;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
}

.link:hover {
    background-color: bisque;
}

.subLinkWrapper {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

/* .active {
    opacity: .5;
    display: none;
} */

.notActive {
    box-sizing: border-box;
    height: 0px;
    overflow: hidden;
    display: none;
}
